@use '../utils/mixins.scss' as *;

.categories {
  @include grid();

  &__image {
    grid-column: span 1;
    margin-top: 56px;
    width: 100%;
    height: auto;

    @include for-tablet {
      grid-column: span 3;
    }

    @include for-desktop {
      grid-column: span 6;
    }
  }

  &__name {
    grid-column: span 2;;
    font-family: Manrope;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0px;
    margin-top: 16px;

    @include for-tablet {
      grid-column: span 6;
    }

    @include for-desktop {
      grid-column: span 12;
    }
  }

  &__button {
    grid-column: 1 / -1;
    margin-top: 40px;

    @include for-tablet {
      margin-top: 56px;
    }

    @include for-desktop {
      grid-column: 1 / 5;
      margin-top: 56px;
    }
  }
}
