@use '../utils/mixins.scss' as *;

.header {
  min-height: 100vh;

  background-image: url(../src/images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    height: 16px;
    margin: 28px 20px;

    @include for-tablet {
      height: 24px;
      margin: 36px 72px;
    }

    @include for-desktop {
      height: 24px;
      margin: 36px 120px;
    }
  }

  &__icons {
    margin: 24px 20px;
    gap: 24px;

    @include for-tablet {
      margin: 36px 72px;
    }

    @include for-desktop {
      margin: 36px 120px;
    }
  }
}
