@use '../utils/mixins.scss' as *;

.section {
  &__recommended {
    padding-top: 64px;

    @include for-tablet {
      padding-top: 120px;
    }

    @include for-desktop {
      padding-top: 120px;
    }
  }

  &__categories {
    padding-top: 96px;

    @include for-tablet {
      padding-top: 120px;
    }

    @include for-desktop {
      padding-top: 120px;
    }
  }

  &__about {
    padding: 0;
  }

  &__title {
    font-family: Manrope;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;

    @include for-tablet {
      font-size: 40px;
    }

    @include for-desktop {
      font-size: 48px;
    }
  }

  &__text {
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    padding-top: 8px;
  }
}
