@use '../utils/mixins.scss' as *;

.title {
  font-family: Manrope;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0px;
  color: white;
  padding: 0 20px 40px;

  @include for-tablet {
    font-size: 48px;
    padding: 0 72px 64px;
  }

  @include for-desktop {
    font-size: 56px;
    padding: 0 120px 64px;
  }
}
